# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.API_Pessoas.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\milenapc\Documents\Estudos\API_Pessoas\.idea\.idea.API_Pessoas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
